 /* RESET RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


/*  COLOR PALETTE  */
:root {
    --orange: #ff6900;
    --green: #008000;
    --red: #ff0000;
    --white: #fff;
}

/* UTILITY CLASSES  */

.container {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.white-text {
    color: var(--white);
}
