 /* RESET RULES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


/*  COLOR PALETTE  */
:root {
    --orange: #ff6900;
    --green: #008000;
    --red: #ff0000;
    --white: #fff;
    --grey: #1a1a1a;
}

/* UTILITY CLASSES  */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.white-text {
    color: var(--white);
}

.col {
    padding: 10px 10px 30px 10px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

/* HEADER STYLING SECTION */
.page-header {
    background-color: var(--orange);
    padding: 20px 10px;
    font-weight: 700;
}

.nav-genders {
    display: flex;
}

.nav-genders .nav-gender:not(:last-child) > a {
    padding-right: 15px;
}

.page-header .boolean-icon {
    max-width: 120px;
}

.nav-icons .favorites {
    padding: 0 10px;
}

/* PAGE CONTENT STYLING SECTION */
.page-content {
    padding: 40px 10px;
}

.product-card {
    position: relative;
    font-size: 10px;
    margin-bottom: 5px;
}

.product-description {
  font-size: 13px;  
}

.product-sticker {
    position: absolute;
    font-weight: 700;
}

.product-sticker.sales-rate {
    bottom: 20px;
    left: 0;
    background-color: var(--red);
    color: var(--white);
    padding: 3px 5px;
}

.product-sticker.eco-tag {
    bottom: 20px;
    left: 37px;
    background-color: var(--green);
    color: var(--white);
    padding: 3px 5px;
}

.col:last-child .product-card > .eco-tag {
    left: 0;
}

.product-sticker.like-button {
    top: 5px;
    right: 0;
    background-color: var(--white);
    padding: 5px;
    font-size: 20px;
}

.product-sticker.like-button:hover {
    color: var(--red);
}

.product-card + .product-description .label {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
}

.product-description .sales-price {
    color: var(--red);
    font-weight: 800;
    font-size: 12px;
}

.product-description .original-price {
    text-decoration: line-through;
    font-size: 12px;
}

/* PAGE CONTENT :HOVER STATE STYLING SECTION */
.product-card .product-image-hover {
    position: absolute;
    top: 0;
    opacity: 0;
}

.product-card:hover .product-image-hover {
    opacity: 1;
}

/* FOOTER SECTION */
.page-footer {
    background-color: var(--grey);
    color: var(--white);
    padding: 20px 10px;
}

.page-footer h4 {
    margin-bottom: 10px;
}

.footer-info-section .footer-info-links {
    display: flex;
    font-size: 12px;
}

.footer-social-icons {
    text-align: center;
    font-size: 20px;
}

.footer-info-links .footer-info-link:not(:last-child) > a {
    padding-right: 15px;
}

.footer-social-section .footer-social-icons a:not(:last-child) {
    margin-right: 5px;
}